.catalog__title {
  font-size: 2.2rem;
  margin-bottom: 1.4rem;
}

.catalog__item {
  /* width: 190px;
  height: 254px; */
  max-width: 550px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
}

.catalog__item:not(:last-child) {
  margin-bottom: 70px;
}

.product__image {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.product__title {
  font-size: 1.5em;
  font-weight: bold;
}

.product__description {
  color: rgb(134, 134, 134);
}

.product__button {
  cursor: pointer;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.favorite__icon {
  position: absolute;
  top: 20px;
  right: 40px;
  display: none;
}

.active {
  display: block;
}

.catalog__item:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.catalog__item:hover .product__button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
