.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

.navigation__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
}

.navigation__link[aria-current="page"] {
  color: rgb(0, 139, 248);
}

.menu {
  height: 50px;
  width: 50px;
  /* fill: #008bf8; */
}
